<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName" default-lazy-init="true">

    <!--开启自动扫描 自动注入相应BeanPostProcessor-->
    <context:component-scan base-package="com.eric.redis"/>

    <!-- 初始化配置信息 对PropertyPlaceholderConfigurer进行自定义扩展-->
    <bean id="propertyConfigurer" class="com.eric.redis.configuration.resource.AppPropertyConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/jdbc.properties</value>
                <value>classpath:config/redis.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>


    <!--开启mvc-->
    <mvc:annotation-driven/>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="10485760"/>
        <property name="maxInMemorySize" value="1048576"/>
    </bean>


    <!--添加SpringMvc防重复提交拦截器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="com.eric.redis.configuration.interceptor.AvoidDuplicateSubmissionInterceptor"/>
            </list>
        </property>
    </bean>

    <!--引入外部文件-->
    <import resource="dataSourceConfig.xml"/>
    <import resource="applicationContext-redis.xml"/>

</beans>