<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:redis="http://www.springframework.org/schema/redis" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis-1.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- redis连接池配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- pool可以有多少个jedis实例 -->
        <property name="maxTotal" value="${redis.maxTotal}" />
        <!-- 最大能够闲置的jedis实例  -->
        <property name="maxIdle" value="${redis.maxIdle}" />
        <!--最大等待wait时间-->
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <!-- 获得一个jedis实例的时候是否检查连接可用性（ping() -->
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
        <!-- return 一个jedis实例给pool时，是否检查连接可用性（ping()） -->
        <property name="testOnReturn" value="${redis.testOnReturn}" />
    </bean>

    <!--redis集群配置-->
    <bean id='redisClusterConfiguration' class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="clusterNodes">
            <set>
                <bean id="redisNode" class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.host}"/>
                    <constructor-arg name="port" value="${redis.port}"/>
                </bean>
                <bean id="redisNodeOne" class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.host}"/>
                    <constructor-arg name="port" value="${redis.port1}"/>
                </bean>
                <bean id="redisNodeTwo" class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.host}"/>
                    <constructor-arg name="port" value="${redis.port2}"/>
                </bean>
                <bean id="redisNodeThree" class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.host}"/>
                    <constructor-arg name="port" value="${redis.port3}"/>
                </bean>
            </set>
        </property>
        <property name="maxRedirects" value="5"/>
    </bean>

    <!--redis连接工厂-->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg name="clusterConfig" ref="redisClusterConfiguration"/>
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <!--key序列化-->
    <bean id="keySerializer" class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
    <!--value序列化-->
    <bean id="valueSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>

    <!--redis客户端操作模板-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer" ref="keySerializer"/>
        <property name="valueSerializer" ref="valueSerializer"/>
    </bean>

    <!-- session共享配置 将session放入redis -->
    <bean id="redisHttpSessionConfiguration" class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
        <!--session过期时间-->
        <property name="maxInactiveIntervalInSeconds" value="1800" />
    </bean>

    <!--redis缓存拦截器配置start-->
    <bean id="methodCacheInterceptor" class="com.eric.redis.configuration.interceptor.MethodCacheInterceptor"/>
    <aop:config>
        <!--切入点 这里表示定义在redis.controller包下的任意方法的执行-->
        <aop:pointcut id="methodPoint" expression="execution(* com.eric.redis.controller.*.*(..))"/>
        <!--使用缓存拦截器-->
        <aop:advisor advice-ref="methodCacheInterceptor" pointcut-ref="methodPoint"/>
    </aop:config>
    <!--redis缓存拦截器配置end-->

</beans>